---
layout: layout.njk
title: Pricing
---
{%- for cardSection in collections.pricing -%}
  <div class="card-section">
    {%- if cardSection.title -%}<h2>{{ cardSection.title | safe }}</h2>{%- endif -%}
    {%- if cardSection.popover -%}{% popover cardSection.popover %}{%- endif -%}
    {%- if cardSection.subtitle -%}<p>{{ cardSection.subtitle | safe }}</p>{%- endif -%}
    <div class="card-container">
      {%- for cardObject in cardSection.cards -%}
      {% card cardObject.color,cardObject.image,cardObject.title,cardObject.description,
        cardObject.button,cardObject.button_link,cardObject.button_style, cardObject.disclaimer %}
      {%- endfor -%}      
    </div>
  </div>
{%- endfor -%}