// Variables

// Root colors
$teal: #0AB0BF;
$blue: #0069CE;
$bright_green: #66E6AB;
$charcoal: #2C2C2C;
$dark_teal: #00838F;
$white: #FFFFFF;
$medium_grey: #54565A; 
$border_grey: #CBCFCF;
$light_grey: #E5E5E5;
$bg_grey: #FAF9F9;

//Theme colors
$background: $bg_grey;
$page_title_bg: $light_grey;
$nav_link_color: $medium_grey;
$primary: $dark_teal;
$text: $charcoal;
$text_disclaimer: $medium_grey;
$link_color: $dark_teal;

$font_size_body: 16px;

// Layout Variables
$mobile_breakpoint: 'screen and (max-width:480px)';
$tablet_breakpoint: 'screen and (max-width:980px)';


$content_width_desktop: 1128px;
$content_gutter_tablet: 60px;
$content_gutter_mobile: 40px;


// Typography
body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: $font_size_body;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: $text;
}

strong { font-weight : 700; }

h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-align: left;

    @media #{$mobile_breakpoint}{
        font-size: 40px;
        line-height: 48px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-align: left;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-align: left;
}

a {
    color: $link_color;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

// Layout Styles
body {
    margin: 0;
}
.page-wrapper {
    background-color: $bg_grey;
}

// Header
.page-header-wrapper {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px 160px;

    @media #{$mobile_breakpoint}{
        padding: 0 16px 160px;
    }
}
.page-header {
    padding-top: 25px;
    padding-bottom: 22px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: $content_width_desktop;

    @media #{$tablet_breakpoint}{
        padding-top: 16px;
        padding-bottom: 17px;
        justify-content: space-between;
    }

    @media #{$mobile_breakpoint}{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }


}
.logo-container {
    height: 31px;

    @media #{$mobile_breakpoint}{
        height: 18px;
    }
}

nav.main {

    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media #{$tablet_breakpoint}{
        display: none;
    }

    .nav-item {
        &:not(:last-child){
            margin-right: 24px;
        }
    }
}

nav.contextual {
    display: flex;
    align-items: center;

    .nav-item {
        &:not(:last-child){
            margin-right: 16px;
        }
    }

    .button.mobile {
        padding: 8px 16px;
    }
}

nav.hamburger {
    display: none;

    @media #{$tablet_breakpoint}{
        display: inline;
    }
    .hamburger-switch {
        cursor: pointer;

    }
    .hamburger-menu {
        display: none;
        position: fixed;//always at the top of the window
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh; //full-screen
        background-color: rgba($white, 0.8);

        &.active {
            display: flex;
            flex-direction: column;
        }
        //the switch inside the menu
        .hamburger-switch {
            cursor: pointer;
            position:absolute;
            right: 10px;
            top: 10px;
            color: $charcoal;
            font-size: 32px;
        }
    }
    .hamburger-item {
        background-color: $white;
        display: inline-block;
        border-bottom: 1px solid $border_grey;
        padding: 16px 32px;
        font-size: 24px;
        font-weight: 600;
        color: $charcoal;
    }
}


.content-heading-wrapper {
    background-color: $white;
    width: 100%;
    max-width: $content_width_desktop;
    margin-top: 58px;
    margin-bottom: 98px;
    
    @media #{$tablet_breakpoint}{
        width: unset;
        margin-bottom: 88px;
    }

    @media #{$mobile_breakpoint}{
        margin-left: 24px; //align with content 40px margin
    }
}
.content-heading {
    width: 100%;

    h1 {
        max-width: 745px;
        margin: 0;
    }
   
}

// Content
.page-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -154px; //line up card headers with background change

    @media #{$tablet_breakpoint}{
        margin-top: -145px; //line up card headers with background change
    }
}
.page-content {
    //width: 100%;
    max-width: $content_width_desktop;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $content_gutter_tablet;
    margin-bottom: 200px;

    @media #{$tablet_breakpoint}{
        width: unset;
        
    }

    
    @media #{$mobile_breakpoint}{
        padding: 0 $content_gutter_mobile;
    }
}


// Cards

.card-section {
    width: 100%;
}

.section-title {
    @media #{$mobile_breakpoint}{
        display: none;
    }
}
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;

    @media #{$tablet_breakpoint}{
        grid-template-columns: 1fr 1fr;
    }
    
    @media #{$mobile_breakpoint}{
        grid-template-columns: 1fr;
    }
}

.card {
    background: $white;
    border: 1px solid $border_grey;
    box-shadow: 0px 4px 30px rgba(84, 86, 90, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;

       //Special case for mobile card w/ no image - break container width 
       @media #{$mobile_breakpoint}{
        &:not(.has-image){
            border: none;
            box-shadow: none;
            background: none;

            margin-left: -40px;
            margin-right: -40px;

            .card-header {
                border-radius: 0;
            }
        }
    }
}

.card-header {
    border-radius: 8px 8px 0px 0px;
    height: 7px;
    display: flex;
    flex-direction: row;
    
    align-items: center;

    @media #{$tablet_breakpoint}{
        height: unset;
        
    }

    .card.has-image > & {
        height: 154px;
        justify-content: center;

        @media #{$tablet_breakpoint}{
            height: 144px;
        }
    }



    &.color-teal {
        background-color: $teal;

        h4 {
            color: $white;
        }
    }

    &.color-blue {
        background-color: $blue;

        h4 {
            color: $white;
        }
    }
    &.color-green {
        background-color: $bright_green;

        h4 {
            color: $white;
        }
    }
    &.color-charcoal {
        background-color: $charcoal;

        h4 {
            color: $white;
        }
    }

    h4 {
        display: none;

        @media #{$tablet_breakpoint}{
            display: block;
            margin: 14px 0 18px 32px;
        }
    }

    svg { }

}

.card-body {
    padding: 32px 32px 44px;
    flex-grow: 1; //inside .card
}
.borrowed-title {
    display: none;
    @media #{$mobile_breakpoint}{
        display: block;
    }
}
.card-footer {
    padding: 32px;
}
.card-included {
    display: none;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
    
    @media #{$tablet_breakpoint}{
        display: block;    
    }
}
.card-disclaimer {
    color: $text_disclaimer;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 10px;
    height: 16px; //force equal height across cards
}

// Popover 

.popover {

    //set line-height to text size for vertical alignment
    line-height: 16px;
    display: inline-block;
    vertical-align: bottom;

    h3 > & {
        line-height: 24px;
    }
}

.popover-content {
    
    display: none;
    background-color: $white;
    border: 1px solid $border_grey;
    box-shadow: 0px 4px 30px rgba(84, 86, 90, 0.1);
    border-radius: 8px;
    width: 240px;
    padding: 16px;

    .popover.active > & {
        display: block;
        position: absolute;        
    }

    .popover-text {
        @extend body;
    }
}

// Misc
ul {
    &.checkmark {
        padding-left: 23px; 
        li {
            list-style-image: url(/_includes/img/tick.svg);
        }
    }

    &.text-bubble {
        padding-left: 22px;
        li {
            list-style-image: url(/_includes/img/chat-bubble.svg);
        }
    }
}

// Buttons
.button {
    display: block;
    text-align: center;
    color: $white;
    background-color: $dark_teal;
    border-radius: 4px;
    padding: 12px 24px;
    text-decoration: none;
    font-size: $font_size_body;
    line-height: 32px;

    &:hover, &:focus {
        text-decoration: none;
        background-color: darken($dark_teal, 10);
    }

    &.ghost {
        color: $dark_teal;
        background-color: unset;
        border: 1px solid $dark_teal;

        &:hover, &:focus {
            border: 1px solid darken($dark_teal, 10);
            color: darken($dark_teal, 10);
        }
    }
}